doctype html
html
  head
    style.
      .topic {
        border: 1px solid black;
        font-size: 24px;
      }
      .votes {
        display: flex;
        flex-direction: row;
      }
      .upvotes {
        color: #008000;
      }
      .downvotes {
        color: #800000;
      }
      .upvoteButton {
        background-image: url("assets/up.png");
        width: 20px;
        height: 20px;
        background-size: 20px 20px;
      }
      .downvoteButton {
        background-image: url("assets/down.png");
        width: 20px;
        height: 20px;
        background-size: 20px 20px;
      }
  body
    a(href='/submit') submit a topic
    h1 Topics
    div
      each topic in topics
        div.topic(uuid=topic.uuid) #{topic.title}
          div.votes
            div.downvoteButton
            div.downvotes #{topic.downvotes}
            div /
            div.upvotes #{topic.upvotes}
            div.upvoteButton
            div.overallVotes overall votes: #{topic.upvotes - topic.downvotes}
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
    script.
      var upvoteButtons = document.getElementsByClassName("upvoteButton");

      for(var i = 0; i < upvoteButtons.length; i++) {
        upvoteButtons[i].onclick = function() {
          var upvotes = $(this).siblings(".upvotes");
          var overallVotes = $(this).siblings(".overallVotes");
          $.ajax({
              url: '/upvote/' + this.parentNode.parentNode.getAttribute("uuid"),
              type: 'PUT',
              contentType: "application/json",
              success: function(result) {
                upvotes[0].innerHTML = result["data"]["upvotes"];
                overallVotes[0].innerHTML = "overall votes: " + (result["data"]["upvotes"] - result["data"]["downvotes"]);
              }
          });
        }
      }

      var downvoteButtons = document.getElementsByClassName("downvoteButton");

      for(var i = 0; i < upvoteButtons.length; i++) {
        downvoteButtons[i].onclick = function() {
          var downvotes = $(this).siblings(".downvotes");
          var overallVotes = $(this).siblings(".overallVotes");
          $.ajax({
              url: '/downvote/' + this.parentNode.parentNode.getAttribute("uuid"),
              type: 'PUT',
              contentType: "application/json",
              success: function(result) {
                downvotes[0].innerHTML = result["data"]["downvotes"];
                overallVotes[0].innerHTML = "overall votes: " + (result["data"]["upvotes"] - result["data"]["downvotes"]);
              }
          });
        }
      }
